[Unit]
Description=Adding new prices to data

[Service]
ExecStart=/usr/bin/python3 /home/fizzzgen/trading_robot/job_statistic.py
Restart=always

[Install]
WantedBy=multi-user.target