[Unit]
Description=TRADING ROBOT ORDERS ENGINE

[Service]
ExecStart=/usr/bin/python3 /home/fizzzgen/trading_robot/trading_robot/job_orders_engine.py
Restart=always

[Install]
WantedBy=multi-user.target
