[Unit]
Description=TRADING ROBOT FLASK SERVER

[Service]
ExecStart=/usr/bin/python3 /home/fizzzgen/trading_robot/trading_robot/job_flask.py
Restart=always

[Install]
WantedBy=multi-user.target
