[Unit]
Description=TRADING ROBOT BUY PREDICTIONS

[Service]
ExecStart=/usr/bin/python3 /home/fizzzgen/trading_robot/trading_robot/job_predict.py
Restart=always

[Install]
WantedBy=multi-user.target
