[Unit]
Description=TRADING ROBOT TRADINNG DATA FETCHER

[Service]
ExecStart=/usr/bin/python3 /home/fizzzgen/trading_robot/trading_robot/job_price_update.py
Restart=always

[Install]
WantedBy=multi-user.target
